extends ./layout.jade

block og
    meta(property="og:title" content="#{pageTitle}")

block content
    div.esv-text
        h2 
            =pageTitle
        p
            each text, verse in bible
                span(class='verse' id=verse)
                    span(class='verse-num')=verse
                    span(class='verse-text')!=text 
        
    if img
        div.bg
            div.overlay
            //- img.bgimg(src='#{img}')

block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/js/highlight.js')
